<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING/DTD BEAN/EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	
	<!-- 公告信息   start -->
	<bean id="bulletinService" parent="txBase">
		<property name="target">
			<bean
				class="com.sinosoft.gypsymoth.bussiness.bulletin.service.BulletinServiceImpl">
				<property name="baseHibernateDAO">
					<ref bean="baseHibernateDAO" />
				</property>
			</bean>
		</property>

		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>
			<bean id="bulletinAction"
		class="com.sinosoft.gypsymoth.bussiness.bulletin.action.BulletinAction">
		<property name="bulletinService">
			<ref bean="bulletinService" />
		</property>
	</bean>
	<!-- 公告信息   end -->
	
	
</beans>
