<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING/DTD BEAN/EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<!-- business start -->
	<bean id="onlineqaService" parent="txBase">
		<property name="target">
			<bean
				class="com.sinosoft.gypsymoth.bussiness.onlineqa.service.OnlineqaServiceImpl">
				<property name="baseHibernateDAO">
					<ref bean="baseHibernateDAO" />
				</property>
			</bean>
		</property>

		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>
	<bean id="onlineqaAction"
		class="com.sinosoft.gypsymoth.bussiness.onlineqa.action.OnlineqaAction">
		<property name="onlineqaService">
			<ref bean="onlineqaService" />
		</property>
	</bean>
	<!-- system end -->
</beans>
